body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.contactapp-wrap .contactapp-sidebar {
  position: unset;
  color: #2f9aff76;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  color: rgba(0, 128, 128, 0.156);
}
/* Applies to the entire webpage */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

/* The part of the scrollbar track */
::-webkit-scrollbar-track {
  background: transparent; /* Color of the track */
  /* background: red; */
  border-radius: 10px; /* Round corners */
}

/* The draggable part of the scrollbar */
::-webkit-scrollbar-thumb {
  background-color: #888888a0; /* Color of the thumb */
  border-radius: 10px; /* Round corners */
  border: 3px solid #f1f1f1; /* Space around the thumb */
}

/* Hover state for the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker thumb on hover */
}
/* Thumb when active */
::-webkit-scrollbar-thumb:active {
  background-color: #444; /* Darker color when the thumb is active */
}
