.react-calendar {
  border-radius: 10px;
  margin-top: 10%;
  border: none;
}
.react-calendar__tile {
  border-radius: 100%;
  color: #007d88;
  margin: 5%;
}
.react-calendar__tile--active {
  background-color: #007d8849;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background-color: #007d8849;
}
